.pointer {
    cursor: pointer;
}

.custom-form-group{
  @extend .form-group !optional;
  @extend .m-2;

  .form-control {
    @extend .form-control;
  }

  .select-wrapper {
    position: relative;
    margin-bottom: 1rem;
  
    label {
      position: absolute;
      top: 50%;
      left: 0.75rem; // Distancia izquierda
      transform: translateY(-50%);
      color: #999; // Color del label cuando no está enfocado
      transition: top 0.3s, left 0.3s, color 0.3s;
      pointer-events: none;
      z-index: 1;
    }
  
    select {
      width: 100%;
      padding: 0.75rem; // Espaciado interno
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      background-color: #fff;
      color: #495057;
      appearance: none; // Elimina los estilos nativos del select
      z-index: 2; // Asegura que el select esté por encima del label al hacer focus
  
      &:focus + label, // Estilos del label cuando el select está enfocado
      &:valid + label {
        top: 0.25rem; // Distancia superior
        left: 0.75rem; // Distancia izquierda
        font-size: 0.75rem; // Tamaño de fuente más pequeño cuando está sobre el select
        color: #007bff; // Color del label cuando está enfocado
      }
    }
  }
}
